/* to be minified and put into dump.cfm */

.cf_dump {
	background-color: #FFFFFF;
	border-spacing: 0px;
	color: #000000;
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
	margin-bottom: 8px;
	margin-top: 8px;
}

	.cf_dump div {
		box-sizing: border-box;
		font-size: inherit;
	}

	.cf_dump .lowkey {
		color: #A0A0A0;
	}

	.cf_dump .empty {
		white-space: nowrap;
	}

	.cf_dump .label {
		background-color: #E91E63;
		color: #FFFFFF;
		padding: 4px;
	}

	.cf_dump .var {
		border-collapse: collapse;
		display: table;
		width: 100%;
	}
		.cf_dump .var .rowheader.whitespace::before,
		.cf_dump .var.whitespace .colheader::before {
			content: '⚠️'
		}
		.cf_dump .var .rowheader.whitespace,
		.cf_dump .var.whitespace .rowcell {
			color: #F00000;
			font-family: Consolas, monospace;
			letter-spacing: 1px;
		}

		/* BEGIN: colors */

			.cf_dump .var.array > .colheader {
				background-color: #009900;
				border-color: #009900;
				color: #FFFFFF;
			}
			.cf_dump .var.array > .row > .rowheader {
				background-color: #CCFFCC;
				border-color: #009900;
				color: #009900;
			}
			.cf_dump .var.array > .row > .rowcell {
				border-color: #009900;
			}

			.cf_dump .var.boolean > .colheader {
				background-color: #673AB7;
				border-color: #673AB7;
				color: #FFFFFF;
			}
			.cf_dump .var.boolean > .row > .rowcell {
				border-color: #673AB7;
			}

			.cf_dump .var.byte > .colheader {
				background-color: #FFCC44;
				border-color: #FFCC44;
				color: #000000;
			}
			.cf_dump .var.byte > .row > .rowcell {
				border-color: #FFCC44;
			}

			.cf_dump .var.component > .colheader {
				background-color: #1C434A;
				border-color: #1C434A;
				color: #B6DCE3;
			}
			.cf_dump .var.component > .row > .rowheader {
				background-color: #B6DCE3;
				border-color: #1C434A;
				color: #1C434A;
			}
			.cf_dump .var.component > .row > .rowcell {
				border-color: #1C434A;
			}

			.cf_dump .var.exception > .colheader {
				background-color: #000000;
				border-color: #000000;
				color: #FFFF80;
			}
			.cf_dump .var.exception > .row > .rowheader {
				background-color: #FFFF80;
				border-color: #000000;
				color: #000000;
			}
			.cf_dump .var.exception > .row > .rowcell {
				border-color: #000000;
			}

			.cf_dump .var.null > .colheader {
				background-color: #000000;
				border-color: #000000;
				color: #FFFFFF;
			}
			.cf_dump .var.null > .row > .rowcell {
				border-color: #000000;
			}

			.cf_dump .var.numeric > .colheader {
				background-color: #2196F3;
				border-color: #2196F3;
				color: #FFFFFF;
			}
			.cf_dump .var.numeric > .row > .rowcell {
				border-color: #2196F3;
			}

			.cf_dump .var.object > .colheader {
				background-color: #FF4444;
				border-color: #FF4444;
				color: #FFFFFF;
			}
			.cf_dump .var.object > .row > .rowheader {
				background-color: #FFDBDB;
				border-color: #FF4444;
				color: #FF4444;
			}
			.cf_dump .var.object > .row > .rowcell {
				border-color: #FF4444;
			}

			.cf_dump .var.query > .colheader {
				background-color: #AA66AA;
				border-color: #AA66AA;
				color: #FFFFFF;
			}
			.cf_dump .var.query > .colfooter {
				border-color: #AA66AA;
			}
			.cf_dump .var.query > .row > .rowheader {
				background-color: #FFDDFF;
				border-color: #AA66AA;
				color: #AA66AA;
			}
			.cf_dump .var.query > .row > .rowcell {
				border-color: #AA66AA;
			}

			.cf_dump .var.simple > .colheader {
				background-color: #FF4444;
				border-color: #FF4444;
				color: #FFFFFF;
			}
			.cf_dump .var.simple > .row > .rowcell {
				border-color: #FF4444;
			}

			.cf_dump .var.string > .colheader {
				background-color: #FF8000;
				border-color: #FF8000;
				color: #FFFFFF;
			}
			.cf_dump .var.string > .row > .rowcell {
				border-color: #FF8000;
			}

			.cf_dump .var.struct > .colheader {
				background-color: #4444CC;
				border-color: #4444CC;
				color: #FFFFFF;
			}
			.cf_dump .var.struct > .row > .rowheader {
				background-color: #CCDDFF;
				border-color: #4444CC;
				color: #4444CC;
			}
			.cf_dump .var.struct > .row > .rowcell {
				border-color: #4444CC;
			}

			.cf_dump .var.xml > .colheader {
				background-color: #808080;
				border-color: #808080;
				color: #FFFFFF;
			}
			.cf_dump .var.xml > .row > .rowheader {
				background-color: #EEEEEE;
				border-color: #808080;
				color: #808080;
			}
			.cf_dump .var.xml > .row > .rowcell {
				border-color: #808080;
			}

		/* END: colors */

	.cf_dump .colheader {
		border: 1px solid;
		cursor: pointer;
		display: table-caption;
		font-size: 11px;
		letter-spacing: 1px;
		padding: 1px 2px 2px 2px;
		user-select: none;
		white-space: nowrap;
	}
		.cf_dump .colheader[data-cf_dump_collapsed] {
			opacity: 0.50;
		}
		.cf_dump .colheader a {
			color: inherit;
			text-decoration: none;
		}
		.cf_dump .type {
			font-weight: bold;
		}
		.cf_dump .subtype {
			font-size: 9px;
		}
		.cf_dump .ref {
			opacity: 0.50;
		}

	.cf_dump .colfooter {
		border: 1px solid;
		display: table-caption;
		caption-side: bottom;
		padding: 2px;
		white-space: nowrap;
	}
		.cf_dump .colfooter.hidden {
			display: none;
		}

	.cf_dump .row {
		display: table-row;
	}
		.cf_dump .row.hidden {
			display: none;
		}

	.cf_dump .rowheader {
		border: 1px solid;
		border-right: none;
		border-top: none;
		cursor: pointer;
		display: table-cell;
		padding: 2px 4px;
		vertical-align: top;
		width: 1%;
	}
		.cf_dump .rowheader[data-cf_dump_collapsed] {
			opacity: 0.50;
		}

		.cf_dump .struct > .row > .rowheader {
			white-space: nowrap;
		}

		.cf_dump .query > .row > .rowheader:last-child {
			border-right: 1px solid;
		}

	.cf_dump .rowcell {
		border: 1px solid;
		border-top: none;
		display: table-cell;
		padding: 2px;
		vertical-align: top;
	}
		.cf_dump .rowcell.hidden .var,
		.cf_dump .rowcell.hidden .cellcontent {
			display: none;
		}

		.cf_dump .string .rowcell {
			word-break: break-all;
		}

	.cf_dump .component .extends {
		margin-left: 7px;
	}
	.cf_dump .component .implements {
		margin-left: 15px;
	}
	.cf_dump .component .keyword {
		color: #FFFFFF;
	}

	.cf_dump .object .col.colheader a {
		color: inherit;
		text-decoration: underline;
	}
	.cf_dump .object .row .rowcell {
		font-family: Consolas, monospace;
	}
		.cf_dump .object .row .rowcell .returns,
		.cf_dump .object .row .rowcell .type {
			opacity: 0.50;
		}
		.cf_dump .object .row .rowcell .method {
			color: #0000FF;
		}
		.cf_dump .object .row .rowcell .returns,
		.cf_dump .object .row .rowcell .params,
		.cf_dump .object .row .rowcell .type {
			font-size: 11px;
		}

	.cf_dump .trace > .rowcell {
		overflow: auto;
		white-space: nowrap;
	}

	.cf_dump .trace .preview {
		border: 1px solid #A0A0A0;
		margin: 8px;
		padding: 8px;
	}
		.cf_dump .trace .preview .block {
			margin-top: 8px;
		}

	.cf_dump .trace .exception {
		font-weight: bold;
	}

	.cf_dump .trace .class,
	.cf_dump .trace .filler {
		opacity: 0.50;
	}

	.cf_dump .trace .file {
		font-size: 11px;
	}

	.cf_dump .cfdump_array,
	.cf_dump .cfdump_query,
	.cf_dump .cfdump_struct,
	.cf_dump .cfdump_xml {
		color: #000000;
	}
